$maxmobile: "(max-width:767px)";
$minsmall: "(min-width:768px)";
$maxsmall: "(max-width:991px)";
$minmedium: "(min-width:992px)";
$minlarge: "(min-width:1200px)";

$redColor: #e2494c;
$greyColor: #9c9c9c;

$section-padding: 60px;

$sub-padding: 30px;
